.search{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search button{
    background-color: #006edf;
    width: 40px;
    color: white;
    border: 0;
    border-radius: 60%;
}

.search button:hover{
    background-color: #34d3ff;
    color: black;
}
.form-control{
    width: 800px;
    background-color: #006edf;
    border: 0;
    color: white;
    font-weight: bold;
}

.form-control::placeholder{
    color: #e7e7e7;
}

.sections{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
}

.section{
    width: 100%;
    padding-top: 60px;
}

.section:last-child{
    padding-bottom: 60px;
}

.card{
    height: max-content;
    box-shadow: 0px 0px 10px 0px rgba(0,140,255,0.75);
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0,140,255,0.75);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0,140,255,0.75);
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    gap: 20px;
}
.cards>* {
    flex: 1 1 200px;
}

.card:hover{
    scale: 1.05;
}
.card-img-overlay{
    padding: 10px;
    height: auto;
}
.cards h6,p{
    color: white;
    background-color: rgba(0, 19, 41, 0.9);
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
}
.cards h6 {
    position: absolute;
    bottom: 5px;
}
