.sections{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
}
.section{
    width: 100%;
    padding-top: 60px;
}

.section:last-child{
    padding-bottom: 60px;
}

.container{
    position: relative;
    display: inline-block;
}

.container .index {
    position: absolute;
    height: 100%;
    /* width: 100%; */
    top: 10px;
    right: 200px; /*Ajusta la distancia desde la izquierda */
    font-size: 180px;
    font-weight: 600;
    overflow: hidden;
    pointer-events: none;
    letter-spacing: -22px;
    color: white;
    z-index: -1;
}

.rowImg{
    max-height: 300px;
    object-fit: contain;
    box-sizing: content-box;
    transition: transform 100ms;
    margin-left: 30px;
    border-radius: 10px;
    z-index: 1;

}

.rowImg:hover{
    transform: scale(1.2);
    cursor: pointer;
}

h3{
    padding-bottom: 40px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    gap: 20px;
}
.cards>* {
    flex: 1 1 200px;
}

.card{
    height: max-content;
    box-shadow: 0px 0px 10px 0px rgba(0,140,255,0.75);
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0,140,255,0.75);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0,140,255,0.75);
}

.card:hover{
    scale: 1.05;
}

.card-img-overlay{
    padding: 10px;
}
.cards h6,p{
    color: white;
    background-color: rgba(0, 19, 41, 0.9);
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
}
.cards h6 {
    position: absolute;
    bottom: 5px;
}

.pagination{
    padding: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
    color: white;
    font-weight: bold;
}

.pagination button{
    background-color: #003c7a;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #006edf;
    color: white;
    box-shadow: 0px 0px 10px 0px rgba(0,140,255,0.75);
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0,140,255,0.75);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0,140,255,0.75);
}

.fade-in {
	-webkit-animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }